*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-image: url(../images/fondo.jpg);
}

h1{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

h3{
	padding: 10px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}

h4{
	padding: 10px;
	text-align: center;
	color: black;
	font-family: 'Raleway', sans-serif;
}

h5{
	padding: 10px;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif !important;
	font-size: 5px;
}

.h3right{
	text-align: right;
}

.h3center{
	text-align: center;
}

p{
	padding: 10px;
	text-align: justify;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.row-containermedia{
	width: 100%;
	height: 65px;
}

.pfooter{
	padding-top: 20px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.vinotinto{
	background: #400101;	
}

.crema{
	background: #DDDCC5;	
}

.vacia{
	padding: 10px;
	background: #DDDCC5;	
}

.lineavacia{
	width: 100%;
	padding: 10px;
	background: #DDDCC5;	
}

.lineavaciablanca{
	width: 100%;
	padding: 10px;
	background: white;	
}

.icono{
	width: 55px;
	height: 65px;
	display: block;
	margin: auto;
}

.imalogo{
	height: 65px;
	float: left;
}

nav{
	background: #400101;
}

.nav-link{
	font-size: 18px;
	color:white !important; 
}

nav div ul li a{
	font-family: 'Raleway', sans-serif;
}

nav div ul li a:hover{
	background-color: #BF5D39;
}

.activepill{
	background-color: #BF5D39;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color:#BF5D39 !important; 
}

.dropdown-item.active, .dropdown-item:active{
	background-color:#BF5D39 !important;
}

nav div ul li a:hover {
    background-color: #BF5D39 !important;
}

.imaindexmd{
	display: block;
	margin: auto;
	width: 60%;
	height: auto;
	padding: 10px;
}

.imaindex{
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
	padding: 10px;
}

.ima100{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	padding: 10px;
}

.decorado{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

section cite{
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', cursive, sans-serif;
}

section cite a{
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans Condensed', cursive, sans-serif;
	color: #BF5D39;
}

.imaediciones{
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
	padding: 20px;
}

.personajes{
	width: 90% !important;
	height: 350px !important;
	display: block;
	margin: auto;
}

.card-title{
	color: black !important;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #400101 !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body{
	background-color: #DDDCC5 !important;
}

.card-text2{
	text-align: center;
}

.card-footer {
    padding: .75rem 1.25rem;
    color: white;
    background-color: #400101 !important;
    border-top: 1px solid rgba(0,0,0,.125);
}

form{
	font-family: 'Raleway', sans-serif;
}

.btn-primary{
    background-color: #400101 !important;
    border-color: #400101 !important;
    font-family: 'Raleway', sans-serif !important;
}

.btn-secondary {
    color: #fff;
    background-color: #400101 !important;
    border-color: #400101 !important;
    font-family: 'Raleway', sans-serif !important;
}

.rowform{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.video{
	width: 100%;
	padding: 15px;
}

main section a{
	line-height: 10px;
	padding: 10px;
	font-size: 20px;
	color: #BF5D39;
	font-family: 'Raleway', cursive, sans-serif;
}

main section a:hover{
	color: #400101;
}

[class*="col-"]{
	float: left;	
}

/*Pantallas Grandes:*/

@media (min-width: 1200px){
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.3333333%;}
	.col-lg-5 {width: 41.66666667%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.3333333%;}
	.col-lg-8 {width: 66.66666667%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.3333333%;}
	.col-lg-11 {width: 91.66666667%;}
	.col-lg-12 {width: 100%;}
}


/*Pantallas Medianas:*/

@media (max-width: 1199px) and (min-width: 992px){
	.col-md-1 {width: 8.33333333%;}
	.col-md-2 {width: 16.66666667%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.3333333%;}
	.col-md-5 {width: 41.66666667%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.3333333%;}
	.col-md-8 {width: 66.66666667%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.3333333%;}
	.col-md-11 {width: 91.66666667%;}
	.col-md-12 {width: 100%;}
}


/*Pantallas Pequeñas:*/

@media (max-width: 991px) and (min-width: 768px){
	.col-sm-1 {width: 8.33333333%;}
	.col-sm-2 {width: 16.66666667%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.3333333%;}
	.col-sm-5 {width: 41.66666667%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.3333333%;}
	.col-sm-8 {width: 66.66666667%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.3333333%;}
	.col-sm-11 {width: 91.66666667%;}
	.col-sm-12 {width: 100%;}
}


/*Pantallas Extra Pequeñas:*/

@media (max-width: 767px){
	.col-xs-1 {width: 8.33333333%;}
	.col-xs-2 {width: 16.66666667%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.3333333%;}
	.col-xs-5 {width: 41.66666667%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.3333333%;}
	.col-xs-8 {width: 66.66666667%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.3333333%;}
	.col-xs-11 {width: 91.66666667%;}
	.col-xs-12 {width: 100%;}
}